html{
    font-family: 'Paytone One', sans-serif;
}
body {
                /*degradado del color de fondo, colores a degradar*/
    background: linear-gradient(95deg,#fa3d22, #f6553f);
}
#TituloDeBienvenida{
    text-align: center;
    color: #f2bca5;
    text-shadow: 2px 2px #444;
    text-decoration: underline 3px;
    font-size: 60px;
}
#TituloLogin{
    margin-top: -5px;
    color: #f2bca5;
    text-shadow: 2px 2px #444;
    font-size: 35px;
}
#SeccionDeInputs{
    /*Display en forma de celdas*/
    display: grid;
    /*Alineación del texto */
    text-align: center;
    padding: 10px;
    /*tamaño del borde, tipo de borde, color del borde*/
    border: 2px solid #444;
    /*Radio del borde*/
    border-radius: 5px;
    /*parte superior del borede trasparente*/
    border-top: transparent;
    border-left: transparent;
    /*model box y color de la sombra*/
    box-shadow: 4px 3px #e2bca5;
}
input{
    background-color: #f2bca5;
    font-size: 25px;
    color: #000;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 7px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Paytone One', sans-serif;
}
a{
    color: #EEE;
    text-shadow: 2px 2px #444;
}
a:active{
    color: #f2bca5;
}
a::after{
    color: #EEE;
}
.BotonesDeAccion{
    border: 5px solid #E81e19;
    border-radius: 4px;
    font-size: 25px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 7px;
}
.BotonesDeAccion:active{
    background-color: #E81e19;
    color: #EEE;
}